.item {
    max-width: 270px;
    min-width: 10px;
    max-height: 450px;
    margin: 10px;
    width: 100%;
      transform: scale(1);
    
}
.item p{
    margin: 6px 0px;
}

.item img {
    max-width: 270px;
    min-width: 10px;
    width: 100%;
}

.item-price {
    display: flex;
    margin-top: 10px;
    gap: 10px;
} 

.item-price-new {
    font-weight: bold;
    color:grey;
    font-size: 20px;
}

.item-price-old {
    text-decoration: line-through;
    color: #6c757d;
    text-decoration: line-through;
    font-size: 20px;
}
.item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
@media(max-width:1124px){
    .item{
        transform: scale(1.1);
        
    }
}
@media(max-width:1024px){
    .item{
        transform: scale(1);
        
    }
}
@media(max-width:909px){
    .item{
        transform: scale(1);
    }
}
@media(max-width:790px){
    .item{
        transform: scale(1);
    }
}
@media(max-width:660px){
    .item{
        transform: scale(0.8);
    }
}

@media(max-width:639px){
    .item{
        transform: scale(1.1);
    }
}
@media(max-width:540px){
    .item{
        transform: scale(1.04);
    }
    .item:hover  {
        transform: scale(1.11);
    }
}