.navbar {
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 3px black ;
    justify-content: space-around;
    padding: 5px 20px;
    background-color: white; 
  width: 100%;             
  position: relative;       
  z-index: 10;       
}
.nav_logo {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    color: #333;
}
.nav_logo img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.nav_logo p {
    font-size: 30px;
    font-weight: 600;
    margin-top:20px ;
}
.nav_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    align-items: center;
}
.nav_menu li {
    cursor: pointer;
    color: #333;
}
.nav_menu hr {
    height: 2px;
    border-width: 0px;
    background-color: #f9832f;
}
.toggle-icon {
    display: none;
}
.nav_login_cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.nav_login_cart button {
    width: 130px;
    height: 50px;
    border-radius: 100px;
    font-size: 20px;
    border: solid 1px black;
    background-color: white;
}
.nav_login_cart button:active {
    background-color: #a5a5a5;
    color: white;
    transition: 0.3s ease-in-out;
}
.nav_cart_count {
    width: 40px;
    height: 40px;
}
.nav_count_cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_count_cart p {
    background-color:orange ;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 3px;
}
@media(max-width:1024px){
    .nav_logo img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    }
    .nav_logo p {
    font-size: 25px;
    font-weight: 600;
    margin-top:30px ;
}
.nav_logo {
    margin-bottom: 5px;
}
.nav_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 35px;
    margin-bottom: -15px;
    font-size:18px;
    align-items: center;
}
.nav_menu li {
    cursor: pointer;
    color: #333;
}
.nav_menu hr {
    height: 2px;
    border-width: 0px;
    background-color: #f9832f;
}
.nav_login_cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: -10px;
}
.nav_login_cart button {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    font-size: 18px;
    border: solid 1px black;
    background-color: white;
}
.nav_login_cart button:active {
    background-color: #a5a5a5;
    color: white;
    transition: 0.3s ease-in-out;
}
.nav_count_cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_count_cart img {
    width: 25px;
    height: 25px;
}
.nav_count_cart p {
    background-color:orange ;
    width: 10px;
    height: 10px;
    font-size: 12px;
    border-radius: 50%;
    padding: 3px;
}
}
@media (max-width:780px) {
    .toggle-icon{
        display: block;
    width: 15px;
    height: 15px;
    rotate: -90deg;
    margin-top: 25px;
    transition: 0.5s;
}
.nav_menu.nav-menu-visible {
    display: flex;
  }
.toggle-icon.open {
  transform: rotate(90deg);
}
.nav_menu {
    display: none;
    height: 70px;
    width: 100%;             
  background-color: white; 
    position: absolute;
    justify-content: center;
top: 60px;
margin-left: -40px;
background: white;
font-size: 15px;

}

.nav_logo {
    margin-top: -10px;
}
.nav_logo img {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-right: 10px;
}
.nav_logo p {
    font-size: 25px;
    font-weight: 600;
    margin-top:25px ;

}
.nav_menu hr {
    height: 2px;
    border-width: 0px;
    background-color: #f9832f;
}
.nav_login_cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.nav_login_cart button {
    width: 85px;
    height: 30px;
    border-radius: 50px;
    font-size: 15px;
    border: solid 1px black;
    background-color: white;
}
.nav_login_cart button:active {
    background-color: #a5a5a5;
    color: white;
    transition: 0.3s ease-in-out;
}
.nav_cart_count {
    width: 40px;
    height: 40px;
}
.nav_count_cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_count_cart p {
    background-color:orange ;
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 3px;
}
}

@media(max-width:500px){
    .nav_logo {
        transform: scale(0.8);
        margin-bottom: -5px;
        margin-left: -35px;
    }
    .nav_menu {
        gap: 20px;
        top: 50px;
    }
    .nav_login_cart {
        gap: 10px;
        margin-right: 20px;
    }
    .nav_login_cart button {
        width: 60px;
        height: 25px;
        font-size: 12px;
    }
    .nav_login_cart img {
        width: 16px;
        height: 16px;
        
    }
}