.footer {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}
.footer-logo p {
    font-size: 38px;
    color: #383838;
    text-align: center;
}
.footer-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    font-size: 20px;
    gap: 50px;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 15px;
    cursor: pointer;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #fbfbfb;
}

.social-icon img {
    width: 30px;
    height: auto;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: black;
    margin-bottom: 30px;
}
.footer-bottom hr {
    width: 80vw;
    height: 3px;
    border-radius: 10px;
    background-color: #c7c7c7;
}
.footer-bottom p {
    margin: 5px 0;
}
@media(max-width:800px){
    .footer-logo{
        gap: 30px;
    }
    .footer-logo p {
        font-size: 30px;
    }
    .footer-logo img {
        width: 70px;
    }
    .footer-links {
        gap: 20px;
        font-size: 18px;
    }
}
@media(max-width:500px){
    .footer-logo{
        gap: 22px;
    }
    .footer-logo p {
        font-size: 23px;
    }
    .footer-logo img {
        width: 45px;
    }
    .footer-links {
        gap: 10px;
        font-size: 16px;
    }

.social-icon img {
    width: 22px;
    height: auto;
}

}
@media(max-width:380px){
    .footer-logo{
        gap: 15px;
    }
    .footer-logo p {
        font-size: 20px;
    }
    .footer-logo img {
        width: 38px;
    }
    .footer-links {
        gap: 0px;
        font-size: 13px;
    }

.social-icon img {
    width: 18px;
    height: auto;
}
.footer-bottom p {
    margin: 2px 0;
    font-size: 12px;
}

}

